[submodule "lcdmenu"]
	path = lcdmenu
	url = git@github.com:youknow0/lcdmenu.git
[submodule "kvvliveapi"]
	path = kvvliveapi
	url = git@github.com:youknow0/kvvliveapi.git
[submodule "Adafruit_CharLCDPlate"]
	path = Adafruit_CharLCDPlate
	url = https://github.com/adafruit/Adafruit-Raspberry-Pi-Python-Code.git
