[submodule "lcdmenu"]
	path = lcdmenu
	url = git@github.com:youknow0/lcdmenu.git
[submodule "kvvliveapi"]
	path = kvvliveapi
	url = git@github.com:youknow0/kvvliveapi.git
[submodule "lcdmenu-kvvpi"]
	path = lcdmenu
	url = git@github.com:youknow0/lcdmenu.git
[submodule "kvvliveapi-kvvpi"]
	path = kvvliveapi
	url = git@github.com:youknow0/kvvliveapi.git
